
@font-face {
  font-family: 'Bounded';
  src: url('Bounded-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bounded';
  src: url('Bounded-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bounded';
  src: url('Bounded-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
